.container {
  text-align: center;
}
.title {
  color: #000638;
  font-family: var(--font-merriweather), serif;
  font-size: 48px;
  font-weight: 900;
}
.sub {
  margin-top: 10px;
  color: #605C59;
  font-family: var(--font-roboto), sans-serif;
  font-size: 20px;
}