.title {
  margin-top: 14px;
  font-family: var(--font-merriweather), serif;
  font-size: 48px;
  font-weight: bold;
}
.image {
  margin-top: 18px;
  /* width: 100%;
  height: 278px; */
}
.desc {
  margin-top: 30px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.6;
}
.content {
  margin-top: 30px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 20px;
  line-height: 1.6;
}
