.form {
  margin-top: 32px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding: 18px 20px 18px 28px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.search:focus-within {
  border-color: #b3b3b3;
}
.icon {
  width: 19px;
  height: 19px;
}
.searchInput {
  display: block;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  font-family: var(--font-merriweather), serif;
  font-size: 18px;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.searchInput::placeholder {
  color: #5f5f5f;
}
