.tag {
  padding: 5px 16px;
  border-radius: 3px;
  color: #ffffff;
  font-family: var(--font-roboto), sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.tagBird {
  background-color: #283a61;
}
.tagFood {
  background-color: #bbc8f9;
}
.tagMake {
  background-color: #d5a419;
}
.tagOthers {
  background-color: #f1f1e6;
}
